[submodule "humextra"]
	path = humextra
	url = https://github.com/craigsapp/humextra.git
[submodule "humdrum"]
	path = humdrum
	url = https://github.com/humdrum-tools/humdrum.git
[submodule "data"]
	path = data
	url = https://github.com/humdrum-tools/humdrum-data
